a,p,h1,h2,h3,blockquote 
{
    font-family: Inter,sans-serif;
    color:#1b1b1b;
}



.font-weight-bold 
{
    font-weight: 900;
    line-height: 1em;
}
.is-font-size-medium 
{
    font-size: 1.75rem;
}
.heading-bottom-margin 
{
    margin-bottom: 32px;
}
.section 
{
    padding:48px 24px;
}


img 
{
    border-radius: 24px;
}
.button 
{
    border-radius:10px;
    
}



/* navbar */

.navbar 
{
    padding:0.5rem;
}
.navbar-item img 
{
    max-height:3.15rem;
}

@media only screen and (max-width: 700px) 
{

    .navbar 
    {
        padding:0px;
    }
    
    .navbar-item img 
    {
        max-height:2rem;
    }
}

.space_btw_text 
{
    text-indent: 0.25rem;
}

@media only screen and (min-width: 1020px)
{
    .left_margin
    {
        margin-left: -1.5rem;
    }
}

/* speak-freely */
.section_speak_freely 
{
    background-color: #9dbbf8;
    padding:3rem 1.5rem 0rem;
}

@media only screen and (max-width: 1200px) 
{
    .section_speak_freely
    {
        overflow-x: hidden;
        overflow-y: hidden;
       

    }
}

h1
{
    font-size: 3.75rem;
    margin-top: 10rem;
    margin-bottom:1.5rem;
}
@media only screen and (max-width: 700px) 
{
    h1
    { 
        margin-top:0rem;

    }
    
}

.button_color
{
    color: #2c6bed;
    
}

.mobile-screenshots 
{
   
    top: 2.9rem;
    bottom:0.8rem;
    position: relative;
    

}
.mobile-screenshots img 
{
    transform: rotate(
22.5deg
);
    max-height: 45rem;
    flex-shrink: 1;
    width: 300px;
    
}
.screenshot1
{
    margin: 5.4rem -2.9rem 0.9rem 0px;
    
}
.screenshot2 
{
    
    position:absolute;
    
}

@media only screen and (max-width: 700px) 
{
    .mobile-screenshots 
    {
                
        left:37px;
        margin-top: 0px;
        padding-top: 0px;
        top:0rem;
        
        
    }
    .mobile-screenshots img 
    {
        width: 218px;
    }
    
    .screenshot1 
    {
        margin: 67px -34px 8px -54px;
        
    }
   
    
}

/* testimonials */
.bg-color 
{
    background-color: #ececec;
}
.section_testimonials 
{
    padding:9rem 1.5rem;
}
@media only screen and (max-width: 700px) 
{
    .section_testimonials 
    {
        padding:3rem 1.5rem;
    }
}

blockquote 
{
    font-size: 1.75rem;
    line-height: 1.1em;
}
/* why use signal */
.section_signal 
{
    padding:3rem 1.5rem;
}
@media only screen and (max-width: 700px) 
{
    .section_signal 
    {
        padding-bottom: 0px;
    }
}

/* Share without insecurity */

.animation{
    max-width: 640px;
    
}
.security p 
{
    padding-right: 1.5rem;
}
@media only screen and (max-width: 700px) 
{
    .security p 
    {
        padding-right: 0rem;
    }
}

/* card info */

.box 
{
    border-radius: 24px;
    
}
.box img 
{
    max-width: 370px;
    max-height: 370px;
    
}

@media only screen and (max-width: 700px) 
{
   
    
    .box img 
    {
        max-width: 280px;
        max-height: 280px;
    }
} 

/* free for everyone */
.outline_button 
{
    color: #2c6bed;
    border-color: #2c6bed;
}

/* footer */
.footer
{
    background-color: #3c3744;
    padding-top: 2.25rem;
    padding-bottom: 4.25rem;
}

.footer p 
{
color: #e9e9e9;
}

.footer a 
{
    text-decoration: none;
    color: #e9e9e9;
}

